*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pixelroller;
    src: url(pixelroller.ttf);
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: pixelroller;
    font-size: 18px;
    color: #03e1e4;
}

h2 {
    font-family: pixelroller;
    font-size: 14px;
    color: #03e1e4;
}

h3 {
    font-family: pixelroller;
    font-size: 12px;
    color: #03e1e4;
}

h4 {
    font-family: pixelroller;
    font-size: 10px;
    color: #03e1e4;
}

button {
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: pixelroller;
    font-size: 8px;
    background-color: #03e1e4;
    color: #2f3045;
}

button:hover {
    background-color: white;
}

body {
    color: white;
    position: relative;
    background-color: #181928;
}

.menu {
    height: 70px;
    background-color: #2f3045;
}

.logo {
    height: 60px;
    position: absolute;
    margin: 5px 0 5px 10px;
    top: 0;
    left: 0;
}

.hamburguer {
    height: 50px;
    position: absolute;
    margin: 10px 10px 10px 0;
    top: 0;
    right: 0;

}

 /*----------seção de artigos com 2 containers---------*/
/*----------------------------------------------------*/

.artigo1, .artigo2, .artigo3, .artigo4 {
    display: flex;
    padding-left: 10%;
    padding-top: 100px;
    padding-right: 10%;
    background-color: #181928;
}

.seção1, .seção3, .seção5, .seção7 {
    margin-right: 10%;
}

.seção1 p, .seção5 p, .seção7 p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.seção4 p {
    padding-top: 10px;
}

.seção4 {
    min-width: 580px;
}

.artigo3 {
    padding-bottom: 50px;
}

 /*----------seção de artigos com 4 containers---------*/
/*----------------------------------------------------*/

.tituloSolto {
    padding-top: 50px;
    padding-left: 10%;
    background-color: #2f3045;
}

.artigosComQuebra1, .artigosComQuebra2{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    display: flex;
    background-color: #2f3045;
}

.seçãoComQuebra1, .seçãoComQuebra2, .seçãoComQuebra3, .seçãoComQuebra4 {
    display: flex;
}

.caixa2 {
    margin-left: 5%;
    margin-right: 5%;
}

.caixa4, .caixa7 {
    margin-left: 5%;
}

.caixa5 {
    margin-right: 5%;
}

.caixa2, .caixa4, .caixa5, .caixa7 {
    width: 350px;
}

 /*----------seção de artigos com 4 containers---------*/
/*----------------------------------------------------*/

.chamada {
    padding-top: 100px;
    text-align: center;
}

.chamada button {
    margin: 30px auto 0;
    background-color: yellow;
}

.chamada button:hover {
    background-color: white;
}

footer {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}

.imagensRodapé img {
    width: 40px;
    padding-top: 10px;
}

/*-------------------------------1200px-----------------------------------*/

@media (max-width: 1200px) {
    .artigo1, .artigo2, .artigo3, .artigo4 {
        flex-direction: column;
    }

    .seção1 {
        order: 1;
    }

    .seção5 {
        order: 3;
    }

    .seção6 {
        order: 2;
    }

    .seção7 {
        order: 5;
    }

    .seção8 {
        order: 4;
    }
    
    .seção2, .seção3, .seção6, .seção8 {
        margin: auto;
    }

    .artigosComQuebra1, .artigosComQuebra2 {
        flex-direction: column;
    }

    .seçãoComQuebra1, .seçãoComQuebra2, .seçãoComQuebra3, .seçãoComQuebra4 {
        margin: auto;
    }

    .caixa7 {
        margin: 0;
    }
    
    .artigosComQuebra1, .artigosComQuebra2 {
        padding: 10px;
    }
    .seçãoComQuebra1, .seçãoComQuebra2, .seçãoComQuebra3, .seçãoComQuebra4 {
        padding: 10px;
    }
    
}

@media (max-width: 680px) {
    .seção2, .seção3, .seção6, .seção8 {
        max-width: 500px;
    }
    .seção2 img, .seção3 img, .seção6 img, .seção8 img{
        max-width: 100%;
    }

    .seção4 {
        min-width: auto;

    }

    .caixa1, .caixa3, .caixa6, .caixa8 {
        max-width: 300px;
    }

    .caixa1 img, .caixa3 img, .caixa6 img, .caixa8 img {
        max-width: 100%;
    }

    .artigo1, .artigo2, .artigo3, .artigo4, .tituloSolto, .chamada {
        padding-top: 20px;
    }

    button {
        width: 100%;
    }

    h1, h2 {
        text-align: center;
    }

    .artigosComQuebra1, .artigosComQuebra2 {
        padding: 10px;
    }
    .seçãoComQuebra1, .seçãoComQuebra2, .seçãoComQuebra3, .seçãoComQuebra4 {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .seção2, .seção3, .seção6, .seção8 {
        max-width: 300px;
    }
}

.x {
    height: 50px;
    position: absolute;
    margin: 10px 10px 10px 0;
    top: 0;
    right: 0;
}

.menuHidden {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #2f3045;
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    display: none;    
}


.caixaDoMenu {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
}

#jogos, #login, #cadastro {
    display: flex;
    padding: 10px 0 0 5px;
    height: 30px;
    border-bottom: 1px solid;
    
}
#jogos {
    border-top: solid 1px;
}


#jogos img, #login img, #cadastro img {
    width: 30px;
    display: block;
    margin-right: 20px;
    margin-bottom: 5px;
}

#jogos p, #login p, #cadastro p {
    font-family: pixelroller;
    font-size: 12px;
    color: white;
}

#jogos p:hover, #login p:hover, #cadastro p:hover{
    color: #03e1e4;
}
